<div>
  <mat-toolbar color="primary">
    <h1>Loneliness Scale</h1>
  </mat-toolbar>

  <!--
    Material text styles look small to me on the desktop, but it might work better on mobile.
    Just in case, font size can be increased with: `style="font-size: 16px; line-height: 22px"`.
    cf. https://material.angular.io/guide/typography; https://material.io/design/typography/
  -->
  <div class="mat-body-1" style="margin: 5px; text-align: center">
    Revised UCLA Loneliness Scale is widely used in scientific research
    as proven and reliable measure of loneliness.
  </div>

  <div style="width: 100%; text-align: center">
    <button mat-raised-button style="width: 95%" color="primary">Take the survey</button>
  </div>
</div>
